# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
updated.ipynb
OGR.pdf

# Virtual Environment
.venv/

# IDE
.vscode/

# Project specific
data/vectors/
*.log
.cache
.pytest_cache/
src/core/
docs/

# Coverage files
.coverage
htmlcov/
coverage.xml
