ollama
streamlit
pdfplumber
langchain
langchain-core
langchain-ollama
langchain_community
langchain_text_splitters
unstructured>=0.16.12
unstructured[all-docs]>=0.16.12
onnx>=1.17.0
protobuf
chromadb>=0.4.22
Pillow
numpy
pytest
pytest
coverage=
pydantic